<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add new admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <% if (typeof msg != "undefined") { %>
    <h2 class="text-center" style="color: red"><%= msg %></h2>
      <% } %>
    <% if (typeof msg == "undefined") { %>
      <h2 class="text-center">Add Place Form</h2>
    <% } %>
  <a href="/adminHome"> <button class="btn btn-warning pull-right">Go to home</button></a>
  <br>
  <form method="post">
    <div class="form-group">
      <label for="email">Email of the person to be removed</label>
      <input type="email" class="form-control" name="email" maxlength="90" required> 
      <br/>

   <label for="role">Role</label><br>
   <select name="role" class="dropdown" required>
    <option disabled selected value> -- select an option -- </option>
    <option value="beach">Admin</option>
    <option value="forest">Member</option>
  </select>
    </div>
    <div class="footer text-center center-block">
    <button type="submit" class="btn btn-danger btn-lg">Submit</button>
    </div>
  </form>
</div>

</body>
</html>
