<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add new admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <% if (typeof msg != "undefined") { %>
    <h2 class="text-center" style="color: red"><%= msg %></h2>
      <% } %>
    <% if (typeof msg == "undefined") { %>
      <h2 class="text-center">Admin Registration form</h2>
    <% } %>
  <a href="/adminHome"> <button class="btn btn-warning pull-right">Go to home</button></a>
  <br>
  <form method="post">
      <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Your full name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
    </div>
    <div class="form-group">
      <label for="pass">Re enter password:</label>
      <input type="password" class="form-control" id="pass" placeholder="Re enter password" name="pass" required>
    </div>

    <button type="submit" class="btn btn-success center-block">Submit</button>
  </form>
</div>

</body>
</html>
