<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="container">
    <div class="button-group text-center">
    <a href="/home/allBookings">
      <button class="btn btn-warning">Show Bookings</button>
    </a>
    <a href="logout">
      <button class="btn btn-danger">Logout</button>
    </a>
  </div><br>
      <% if (typeof msg != "undefined") { %>
        <h2 class="text-center" style="color: red"><%= msg %></h2>
      <% } %>

		<h2>Places you can visit</h2><br>
    <ol>
    <% for(var i=0;i<result.length;i++) { %>
        <li> 
          <a href="home/place/<%= result[i].plcaeName %>">
            <%= result[i].plcaeName %> 
          </a> </li> <br>
        <% } %>
      </ol>
 </div>
</body>
</html>